# Database Connection URL
DATABASE_URL="postgresql://username:password@localhost:5432/jobit_db?schema=public"

# Next Auth Configuration (will be used later for authentication)
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000