# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/jobit?schema=public"

# Authentication Secrets
JWT_SECRET="your_jwt_secret_here"

# Optional: API Keys and External Services
X_RAPID_API_KEY=""
COMPANIES_API_KEY=""
NEXT_PUBLIC_GEOCODE_API_KEY=""